doctype html
html
    head
        meta(charset='UTF-8')
        title Snake
        //script(src='/javascripts/game.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/game.css')
    body
        div(id='game-website')
            include ../includes/header
            include ../includes/nav
            div(id="game-container-container")
                div(id="game-container")
                    div(id="endScreen")
                        div Congratulations! You got
                        span(id="finalScore")
                        div points!
                        button(id="restartButton") Restart
                        button(id="saveScoreButton") Safe Score

            div(id="score-container")
