doctype html
html
    head
        if gTag
            include includes/gtag.pug
        meta(charset='UTF-8')
        title About
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(id="website")
            include includes/header.pug
            include includes/nav.pug
            div(id='legal-notice' class='content')
                h2 About
                p This Website is used to develop a protocol communicating privacy preferences from browser to server using HTTP.
                p If you are interested, you can read the
                    a(href='https://tubcloud.tu-berlin.de/s/E85P2GQP5Tg4FKw') proposal for the concerning bachelor thesis.
            iframe(width='200', height='200', src='evilButCompliant')