html
    head
        title {#name} - Cookie Landing Page
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Welcome
        h2 Before you can continue to {#name}, you have to decide
        p If you are willing to accept cookies (even those who are used by companies like Google to track you), click "Accept".
        |Otherwise click "decline". Than you will be forwarded to a cookie-free page.