doctype html
html
    head
        include includes/gtag.pug
        meta(charset='UTF-8')
        title Snake
        script(src='/javascripts/game.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/game.css')
    body
        div(id='game-website')
            include includes/header.pug
            include includes/nav.pug
            div(id="game-container-container")
                div(id="game-container")
            div(id="score-container")
                div(id="personal-best-container") Your personal best:&ensp;
                    span(id="personal-best-points")
                div(id="current-score") Your current score:&ensp;
                    span(id="current-score-points")
                div(id="overall-highscore") Overall Highscore:&ensp;
                    span(id="overall-highscore-points")
                //div(id="development") Development Buttons
                    button(id="addLength") ++
                    button(id="removeLength") --
        template(id="endScreenTemplate")
            div(id="endScreen")
                div Congratulations! You got
                span(id="finalScore")
                div points!
                button(id="restartButton") Restart
                button(id="saveScoreButton") Save Score
        template(id="pauseScreenTemplate")
            div(id="pauseScreen")
                div Congratulations! You got
                span(id="pauseScore")
                div points!
                button(id="continueButton") Continue
                button(id="endGameButton") End Game