doctype html
html
  head
    include includes/gtag.pug
    meta(charset='UTF-8')
    title Welcome
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="website")
      include includes/header.pug
      include includes/nav.pug
      div(id='legal-notice' class='content')
        h2 Welcome