doctype html
html
    head
        include includes/gtag.pug
        meta(charset='UTF-8')
        title Legal Notice
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(id="website")
            include includes/header.pug
            include includes/nav.pug
            div(id='legal-notice' class='content')
                h2 Impressum
                p Juri Welz
                p Friedrichstr. 122
                p 10117 Berlin
                p welz@campus.tu-berlin.de
                p
                p The favicon of the website is from
                    a(href='https://github.com/mozilla/fxemoji/blob/gh-pages/svgs/FirefoxEmoji/u1F36A-cookie.svg') here and licensed by the Mozilla Foundation under the Creative Commons Attribution 4.0 International (CC BY 4.0) license (https://creativecommons.org/licenses/by/4.0/).
