<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Simle Jaeger Extract</title>
</head>
<body>

This is our simple service to extract information about personal data processing from Jaeger.
The api is available below <a href="api">api/*</a>. Currently these services are available:<p/>
<ul>
    <li><a href="api/purposes">api/purposes</a></li>
    <li><a href="api/categories">api/categories</a></li>
    <li><a href="api/origins">api/origins</a></li>
    <li><a href="api/recipients">api/recipients</a></li>
    <li><a href="api/durations">api/durations</a></li>
    <li><a href="api/automated">api/automated</a></li>
    <li><a href="api/3rdparty">api/3rdparty</a></li>
    <li><a href="api/all">api/all</a></li>
    <li><a href="api/groups">api/groups</a></li>
    <li><a href="api/groups/no-duplicates">api/groups/no-duplicates</a></li>
</ul>

</body>
</html>
